<!-- wp:template-part {"slug":"header","tagName":"header","className":"ks-header"} /-->
<!-- wp:group {"tagName":"main","className":"ks-main","layout":{"type":"default"}} -->
<main class="wp-block-group ks-main"><!-- wp:group {"tagName":"section","className":"ks-section ks-cart","layout":{"type":"constrained"}} -->
<section class="wp-block-group ks-section ks-cart"><!-- wp:post-title {"level":1,"className":"ks-title"} /-->
<!-- wp:post-content {"className":"ks-page-content","layout":{"type":"constrained"}} /--></section>
<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"ks-footer"} /-->
