<!-- wp:template-part {"slug":"header","tagName":"header","className":"ks-header"} /-->
<!-- wp:group {"tagName":"main","className":"ks-main ks-main--page","layout":{"type":"constrained"}} -->
<main class="wp-block-group ks-main ks-main--page"><!-- wp:post-title {"level":1} /-->
<!-- wp:post-date /-->
<!-- wp:post-featured-image /-->
<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"ks-footer"} /-->
